<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend:100,200,300,400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700">
    <title>MergeRank</title>
  </head>
  <body>
    <div class="content" role="main">
      <div id="header" class="header">
        <p>MergeRank</p>
      </div>
      <div class="width-container">
        <input [attr.disabled]="rankingStarted? '' : null" id="itemInput" #itemInput (keyup.enter)="addItem(itemInput.value)" type="text" placeholder="Input each item you want to rank">
        <button [ngClass]="rankingStarted? 'hidden': ''" (click)="startRank()">Start</button>
        <div class="option-buttons">
          <button [ngClass]="(!rankingStarted || rankingFinished)? 'hidden': 'item-option'" id="item1">{{item1}}</button>
          <button [ngClass]="(!rankingStarted || rankingFinished)? 'hidden': 'item-option'" id="item2">{{item2}}</button>
        </div>
        <button (click)="restart()" [ngClass]="(!rankingStarted || !rankingFinished)? 'hidden': ''" id="restart">Ranking Complete - Restart?</button>
        <div class="items">
          <ol [ngClass]="!rankingFinished? 'unset':''">
            <div *ngFor="let item of items">
              <li>{{item}}</li>
            </div>
          </ol>
        </div>
      </div>
      
    </div>
  </body>
</html>